/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
/.vscode
.vscode
*.json
*.clang-format
compiler_commands.json
*.sublime-project
*.sublime-workspace